DirectoryIndex index.php index.html
AddDefaultCharset UTF-8

RewriteBase /
Options +FollowSymLinks +Includes

AddType text/html .html
AddOutputFilter INCLUDES .html

AddType text/html .php
AddOutputFilter INCLUDES .php

<filesMatch ".(css|jpg|jpeg|png|gif|js|ico|webp|mp4|svg)$">
Header set Cache-Control "max-age=31536000, public"
</filesMatch>


RewriteEngine On

RewriteRule ^(.*)\.less$ index.php
RewriteRule ^(.*)\.scss$ index.php 

RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ http://%1/$1 [L,R=301]
RewriteRule ^database(.*)$ index.php [R=404,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php [L,QSA]
