DirectoryIndex index.php
AddDefaultCharset UTF-8

RewriteBase /
Options +FollowSymLinks +Includes

AddType text/html .html
AddOutputFilter INCLUDES .html

AddType text/html .php
AddOutputFilter INCLUDES .php

