.btn {
    padding: 12px 30px;
    background-color: $red;
    border: none;
    font-size: 16px;
    color: #FFF;
    border-radius: 0;
    &:hover {
        background-color: $red; 
        border: none;
        color: #FFF;
    }
    &:focus {
        background-color: $red !important; 
        box-shadow: none !important;
    }
}
