@import "vars";
@import "buttons";
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Default styles */
body {
    min-width: 350px;
    margin: 0;
    font-family: 'Jura', sans-serif;
    background: $main-color;
    color: #FFFFFF;
    font-size: 16px;
}
a {
    color: $gray;    
    &:hover {
        text-decoration: none;
        color: #FFFFFF;
    }
}
.gutters-8 {
    margin-left: -4px;
    margin-right: -4px;
    > div {
        padding-left: 4px;
        padding-right: 4px;
    }
}

.page-title {
    font-size: 64px;
    margin-bottom: 25px;
    @media (max-width: 767px) {
        font-size: 36px;
        margin-bottom: 15px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1250px;
    }
}

/* Blocks */
@import "blocks/header";
@import "blocks/menu";
@import "blocks/today";
@import "blocks/to_journalists";
@import "blocks/privacy";
@import "blocks/promo";
@import "blocks/mass-media";
@import "blocks/awards";
@import "blocks/form";
@import "blocks/post";
@import "blocks/promo_details";
@import "blocks/laboratory";
@import "blocks/documents";
@import "blocks/job";
@import "blocks/rent";
@import "blocks/sidebar";
@import "blocks/machinery";
@import "blocks/projects";
@import "blocks/back";
@import "blocks/page-bg";
@import "blocks/contacts";
@import "blocks/nav-tabs";
@import "blocks/tenders";
@import "blocks/news";
@import "blocks/realty-item";
@import "blocks/search";
@import "blocks/company";
@import "blocks/team";
@import "blocks/parking-place";
@import "blocks/parking-complex";
@import "blocks/main";
@import "blocks/approach";
@import "blocks/partners";
@import "blocks/last-news";
@import "blocks/footer";
@import "blocks/filter";
@import "blocks/checkbox";
@import "blocks/sucsess";
@import "blocks/slick";
@import "blocks/body-menu-opened";
@import "blocks/home";