.awards {
    padding-bottom: 180px;
}
.awards__bg {
    position: relative;
    top: -80px;
    height: 450px;
    background: url(../img/awards/awards_bg.png) center (center / cover) no-repeat;
}
.awards__content {
    padding-left: 100px;
}
.awards__title {
/*     margin-top: 80px; */
    font-size: 32px;
}
.awards__descr {
    max-width: 825px;
    font-size: 16px;
    color: $gray;
    margin-top: 20px;
}
.awards__icon {
    display: flex;
    width: 64px;
    height: 64px;
    background-color: $red;
    margin-top: 50px;
}
.awards__icon--1 {
    background-image: url(../img/icons/award_1.svg);
}
.awards__icon--2 {
    background-image: url(../img/icons/award_2.svg);
}
.awards__icon--3 {
    background-image: url(../img/icons/award_3.svg);
}
.awards__number {
    font-size: 32px;
    margin-top: 20px;
}
.awards__info {
    max-width: 175px;
    font-size: 16px;
    color: $gray;
    margin-top: 20px;
}
.awards__subtitle {
    margin-top: 100px;
    font-size: 32px;
}
.awards__diploma {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 258px;
    width: 258px;
    background-color: #fff;
    margin-top: 50px;
}
.awards__box {
    color: #000;
    text-align: center;
    height: 240px;
    width: 240px;
    border: #000 solid 1px;
    padding-top: 48px;
    &::before {
        content: "";
        display: block;
        margin: 0 auto 21px;
        width: 54px;
        height: 54px;
        border-radius: 50%;
        background-color: #E5D9D9;
    }
}
.awards__year {
    font-size: 32px;
    margin-top: 70px;
}
.awards-year__descr {
    font-size: 16px;
    color: $gray;
    margin-top: 20px;
}
.awards__project {
    font-size: 16px;
    margin-top: 20px;
}
.awards__link {
    color: #fff;
    text-decoration: underline;
    margin-top: 20px;
    &:hover {
        text-decoration: underline;
    }
}
@media (max-width: 991px) {
    .awards__content {
        padding-left: 0;
    }
}

@media (max-width: 767px) {
    .awards__info {
        font-size: 12px;
        max-width: 135px;
    }
}

@media (max-width: 575px) {
    .awards__item {
        text-align: center;
    }
    .awards__icon {
        margin: 0 auto;
    }
    .awards__subtitle {
        text-align: center; 
    }
    .awards__diploma {
        margin: 50px auto 20px;
    }
    .awards__year {
        text-align: center;
        margin-top: 0;
    }
    .awards__info {
        max-width: 100%;
        font-size: 16px;
    }
}



