.contacts__map {
    margin-top: 20px;
    width: 100%;
    height: 600px;
    background-color: #cccccc;
    @media (max-width: 991px) {
        height: 400px;
        margin-top: 30px;
    }
    iframe {
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
    }
}
.contacts__info {
    @media (min-width: 1200px) {
        max-width: 400px;
    }
}
.contacts__title {
    margin-bottom: 40px;
}
.contacts__subtitle {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 16px;
    color: #FFF;
    &::before {
        content: "";
        display: block;
        width: 32px;
        height: 32px;
        background-color: $red;
        margin-right: 16px;
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 14px;
        left: 12px;
        width: 8px;
        height: 8px;
        border-top: 2px solid #FFF;
        border-left: 2px solid #FFF;
        transform: rotate(45deg);
    }
    &.collapsed {
        &::after {
            top: 12px;
            left: 12px;
            border-top: 2px solid $gray;
            border-left: 2px solid $gray;
            transform: rotate(225deg);
     
        }
    }
}
.contacts__descr {
    padding-left: 48px;
}
.contacts__contact {
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 28px;
    color: $gray;
    border-bottom: 1px solid #4C5563;
    &:last-child {
        border-bottom: none;
    }
}