.header {
  position: fixed;
  height: 90px;
  width: 100%;
  top: 0;
  z-index: 10;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all 0.3s linear;
}
.header--fixed, .header--bg {
  background-color: $main-color;
}
.header__phone {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  padding: 10px;
  &:hover {
    color: #FFFFFF;
    text-decoration: none;
  }
}
.header__menu {
  cursor: pointer;
  display: flex;
  position: relative;
  font-size: 16px;
  padding-right: 32px;
  color: #FFFFFF;
  align-items: center;
  height: 40px;
  &:hover {
    color: #FFFFFF;
    text-decoration: none;
    .header__burger {
      &::after, &::before {
        width: 50%;
      }
    }
  }
}
.header__burger {
  margin-top: -5px;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  width: 24px;
  height: 10px;
  &::after, &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    transition: all 0.2s linear;
  }
  &::before {
    right: 0;
    bottom: 0;
    left: auto;
    top: auto;
  }
}
@media (max-width: 767px) {
  .header__logo {
    max-width: 230px;
  }
  .header__phone {
    margin-right: 20px;
  }
  .header {
    height: 75px;
  }
}
@media (max-width: 575px) {
  .header__text {
    display: none;
  }
  .header__phone {
    display: none;
  }
}

@media (max-width: 374px) {
  .header__logo{
    max-width: 200px;
    height: auto;
  }
}