 .machinery {
    padding: 120px 0 120px 0; 
}
.machinery__wrapper {
    display: flex;
    margin-top: 50px;
}
.machinery__info {
    padding: 20px 100px 0 50px;
}
.machinery__subtitle {
    font-size: 32px;
    margin-bottom: 25px;
}
.machinery__descr {
    color: $gray;
    font-size: 14px;
    margin-bottom: 30px;
}
.machinery__address {
    font-size: 16px;
    margin-bottom: 30px;
}
.machinery__price {
    font-size: 16px;
    margin-bottom: 50px;
    span {
        font-size: 24px;
    }
}

/* .machinery__img {
    width: 100%;
} */
/* @media (max-width: )
.machinery__info {
    padding: 20px 100px 0 50px;
} */