.parking-place {
    position: relative;
}
.parking-place__wrap {
    display: inline-flex;
    flex-direction: column;
    margin-top: 30px;
    @media (max-width: 767px) {
        display: block;
        border-bottom: 1px solid #525A68;
    }
}
.parking-place__row {
    display: inline-flex;
    border-bottom: 1px solid #525A68;
    @media (max-width: 767px) {
        border-bottom: none;
        height: 40px;
        display: block;
        .parking-place__item {
            display: none;
        }
        .parking-place__item--title {
            display: inline-flex;
            color: rgba(255, 255, 255, .3);
        }
        &.parking-place__row--active .parking-place__item:not(.parking-place__item--title) {
            display: inline-flex;
            font-size: 19px;
            margin-bottom: 4px;
            width: 56px;
            height: 56px;
            pointer-events: auto;
        }
        &.parking-place__row--active .parking-place__item--title {
            display: inline-flex;
            position: absolute;
            left: 0;
            color: white;
            span {
                border-bottom: 1px solid #ffffff;
            }
        }
        &.parking-place__row--active .parking-place__row-wrap {
            position: absolute;
            display: block;
            width: 100%;
            padding-left: 75px;
            font-size: 0;
            top: 0;
            pointer-events: none;
        }
    }
}
.parking-place__row-wrap {
    display: inline-flex;
    @media (max-width: 767px) {
        .parking-place__item--title {
            font-size: 16px;
        }
    }
}
.parking-place__item {
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #364050;
    color: $gray;
    margin-right: 4px;
    @media (max-width: 991px) {
        width: 40px;
        height: 40px;
    }
    &:last-child {
        margin-right: 0;
    }
    &:hover, &.parking-place__item--tooltip {
        background-color:#49525F;
    }
}
.parking-place__sold {
    background-color: $red;
    font-weight: bold;
    color: white;
    &:hover {
        background-color: $red;
    }
}
.parking-place__item--title {
    cursor: default;
    background-color: $main-color !important;
    width: 75px;
    color: #FFF;
    justify-content: start;
    border-right: 1px solid #525A68;
    margin-right: 0;
}
.parking-place__tooltip {
    display: none;
    z-index: 2;
    position: absolute;
    bottom: 35px;
    left: 50%;
    margin-left: -160px;
    width: 320px;
}
.parking-place__item--tooltip .parking-place__tooltip {
    display: block;
}

.parking-place__tooltip-wrap {
    position: relative;
    background-color: $dark;
    font-weight: normal;
    box-shadow: 0px 7px 17px #00000029;
    padding: 30px 20px;
    color: #CBCED4;
    &::after, &::before {
        content: '';
        position: absolute;
        background: $dark;
        box-shadow: 0px 7px 17px #00000029;
        left: 50%; 
        margin-left: -10px;
        bottom: -10px;
        width: 20px; 
        height: 20px;
        z-index: -1;
        transform: rotate(45deg) skew(-10deg, -10deg);
    }
    &::before {
        z-index: 1;
        box-shadow: none; 
    }
}