.partners__title {
    @media (min-width: 1200px) {
        //padding: 150px 0 50px 0;
        //max-width: 400px;
    }
}

.partners__descr {
    @media (min-width: 1200px) {
        //margin: 0 0 0 50px;
        //max-width: 280px;
    }
}

.partners__tabs {
    padding-top: 40px;
    display: flex;
    @media (min-width: 1200px) {
        padding-top: 90px;
    }

    .nav-tabs {
        justify-content: space-between;
        width: 100%;
    }

    @media (max-width: 767px) {
        display: block;
        overflow: auto;
        white-space: nowrap;
        .nav.nav-tabs {
            display: block;
        }
        .nav-tabs__item {
            display: inline-block;
        }
    }
}

.partners__tab {
    cursor: pointer;
    padding: 12px 30px;

    &:hover {
        background-color: #3A4659;
    }

    &.active {
        background-color: $red;
    }
}

.partners__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px -15px 0;
    padding-bottom: 60px;
    position: relative;
    .slick-arrow.slick-prev,
    .slick-arrow.slick-next {
        top: auto;
        bottom: 0;
        transform: none;
        right: 15px;
    }
    .slick-arrow.slick-prev {
        right: 55px;
    }
    .slick-slide {
        margin: 0 15px;
        @media (max-width: 767px) {
            margin: 0;
        }
    }

    @media (max-width: 767px) {
        margin: 30px auto 0;
        padding-bottom: 60px;
        .slick-arrow.slick-prev,
        .slick-arrow.slick-next {
            top: auto;
            right: 40px;
            bottom: 0;
            transform: none;
        }
        .slick-arrow.slick-next {
            right: 0;
        }
    }
    @media (min-width: 1200px) {
        max-width: 640px;
        margin: 40px auto 0;
        .slick-arrow.slick-prev {
            transform: none;
            top: auto;
            bottom: 0;
            left: -407px;
        }

        .slick-arrow.slick-next {
            transform: none;
            top: auto;
            bottom: 0;
            left: -367px;
        }
    }
    @media (min-width: 1400px) {
        .slick-arrow.slick-prev {
            left: -497px;
        }

        .slick-arrow.slick-next {
            left: -457px;
        }
    }
}

.partners__card {
    display: block !important;
    min-height: 220px;
    background-color: rgba(49, 62, 84, 0.8);
    padding: 30px 20px;
    margin: 0 auto;
    @media (min-width: 1200px) {
        min-height: 260px;
        width: 300px !important;
    }
}

.partners__card-title {
    font-size: 16px;
}

.partners__card-descr {
    font-size: 14px;
    color: $gray;
    margin-top: 20px;
}

.partners__count {
    color: $gray;
    text-align: right;
    margin-top: 70px;
    position: absolute;
    right: 15px;
    bottom: 10px;
    @media (max-width: 1399px) {
        right: 45px;
    }
    @media (max-width: 1199px) {
        left: 15px;
        right: auto;
    }
}


