.privacy__wrapper {
    max-width: 825px;
}
.privacy__title {
    max-width: 675px;
    font-size: 64px;
    margin-bottom: 50px;
}
.privacy__content {
    font-size: 16px;
    margin-bottom: 30px;
}
.privacy__subtitle {
    font-size: 24px;
    margin: 80px 0 30px 0;
}
@media (max-width: 991px) {
    .privacy__title {
        font-size: 48px;
    } 
}
@media (max-width: 575px) {
    .privacy__title {
        font-size: 32px;
    } 
}