.projects__list {
    
    display: grid;
    grid-template-columns: 380px 380px;
    grid-template-rows: 300px 300px;
    gap: 50px 50px;
    grid-template-areas:
      ". ."
      ". .";



        @media (max-width: 1699px) {
            grid-template-columns: 400px 400px;
            grid-template-rows: 300px 300px;
            gap: 30px 30px;
            grid-template-areas:
      ". ."
      ". .";
        }
        @media (max-width: 1399px) {
            grid-template-columns: 350px 350px;
            grid-template-rows: 250px 250px;
            gap: 30px 30px;
            grid-template-areas:
      ". ."
      ". .";
        }
        @media (max-width: 1200px) {
            margin-left: -50px;
            grid-template-columns: 300px 300px;
            grid-template-rows: 250px 250px;
            gap: 20px 20px;
            grid-template-areas:
      ". ."
      ". .";
        }

          @media (max-width: 767px) {
              margin: 0;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            gap: 50px 0px;
            grid-template-areas:
              "."
              "."
              "."
              ".";
          }
}

.projects__item {
    text-align: left;
    display: block;
    position: relative;
    padding-left: 10px;
    padding-top: 150px;
    overflow: hidden;
    transition: transform .2s linear;
    @media (max-width: 767px) {
        padding: 60px 20px 40px;
    }
    &::before {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(to top, $main-color 0%, transparent 80%);
    }

    &:hover{
        transform: scale(1.01);
    }
    @media (max-width: 1699px) {
        padding-top: 180px;
    }
    @media (max-width: 1399px) {
        padding-top: 150px;
    }
    @media (max-width: 1024px) {
        padding-top: 130px;
    }
    @media (max-width:767px) {
        padding-top: 180px;
    }

}

.projects__name {
    font-size: 50px;
    line-height: 1.3;
    color: #FFF;
    position: relative;
    top: 0;
    right: 0;
    margin-bottom: 5px;
    @media (max-width:1699px) {
        font-size: 46px;
        
    }
    @media (max-width: 1399px) {
        font-size: 38px;
        left: -1px;
    }
    @media (max-width: 1024px) {
        font-size: 34px;
        left: -1px;
    }
    @media (max-width: 575px) {
        font-size: 30px;
        
       
    }
}

.projects__rent{ 
    .projects__item{
        padding-top: 300px;
        @media (max-width: 1699px) {
            padding-top: 230px;
        }
        @media (max-width: 1399px) {
            padding-top: 200px;
        }
        @media (max-width: 1024px) {
            padding-top: 170px;
        }
        @media (max-width:767px) {
            padding-top: 220px;
        }
    }


}
.projects__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.projects__geo {
    position: relative;
    padding-left: 25px;
    font-size: 14px;
    color: #FFF;
    margin-bottom: 10px;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        display: inline-block;
        width: 16px;
        height: 20px;
        background: url(../img/icons/map.svg) center (center / cover) no-repeat;
    }

    @media (max-width: 1699px) {
        margin-bottom: 5px;
    }
    @media (max-width: 575px) {
        font-size: 12px;
    }
}

.projects__date {
    position: relative;
    padding-left: 25px;
    font-size: 14px;
    color: #FFF;
    
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        display: inline-block;
        width: 16px;
        height: 20px;
        background: url(../img/icons/time.svg) center (center / cover) no-repeat;
    }

    span {
        color: $gray;
    }

    @media (max-width: 575px) {
        font-size: 12px;
    }
}

