.promo__img {
    display: block;
    position: relative;
    width: 100%;
    background-color: #fff;
    margin-top: 50px;

    &::after {
        content: "АКЦИЯ";
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        width: 77px;
        height: 31px;
        background-color: #C9002C;
    }
}

.promo__descr {
    margin-top: 80px;
    padding-left: 20px;
}

.promo__date {
    font-size: 16px;
    color: $gray;
}

.promo__info {
    color: #fff;
    font-size: 24px;
    @media (max-width: 991px) {
        font-size: 20px;
    }
    @media (max-width: 767px) {
        font-size: 18px;
    }
    &:hover {
        text-decoration: underline;
    }
}

@media (max-width: 767px) {
    .promo__descr {
        padding-left: 0;
        margin-top: 20px;
    }
    .promo__img {
        margin-top: 30px;
    }
}

@media (max-width: 991px) {
    .promo__descr {
        margin-top: 20px;
    }
}

.promo-item {
    position: relative;
    @media (max-width: 991px) {
        padding-bottom: 20px;
        &:before {
            content: '';
            display: block;
            position: absolute;
            height: 1px;
            left: 15px;
            right: 15px;
            bottom: 0;
            border-bottom: 1px solid rgba(255, 255, 255, .3);
        }
        &:last-child:before {
            display: none;
        }
    }
}