.realty-item__info {
    padding: 30px 0 0 20px;
}

.realty-item__subtitle {
    font-size: 24px;
    margin: 50px 0 30px 0;
}

.realty-item__main {
    padding-top: 40px;
}

.realty-item__basic {
    font-size: 14px;
    color: $gray;
    margin-bottom: 30px;
}

.realty-item__descr {
    margin-bottom: 30px;
    font-size: 14px;
    color: $gray;
}

.realty-item__sidebar {
    @media (min-width: 768px) {
        width: 424px;

    }
}

.realty-item__slider {
    margin: 35px -4px;

    .slick-slide {
        margin: 4px;
    }
}

.realty-item__big-img {
    display: block !important;
    height: 340px;
    width: 100%;
    @media (min-width: 768px) {
        width: 425px;
    }
    background: center / cover no-repeat;
}

.realty-item__small-img {
    cursor: pointer;
    width: 100%;
    height: 100px;
    background: center / cover no-repeat;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        background-color: $main-color;
        opacity: 0.7;
    }
}

.slick-slide.slick-current {
    .realty-item__small-img {
        &::after {
            display: none;
        }
    }
}

.realty-item__address {
    display: flex;
    font-size: 16px;

    p {
        margin: 0 50px 30px 0;

        &:last-child {
            margin: 0;
        }
    }
}

.realty-item__price {
    font-size: 16px;
    margin-bottom: 50px;

    span {
        font-size: 24px;
    }
}

.realty-item__title {
    font-size: 32px;
    margin: 70px 0 30px 0;
}

@media(max-width: 991px) {
    .realty-item__info {
        padding: 0;
    }
}




