.rent__list {
    display: block;
}

.rent__item {
    display: block;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        display: block;
        width: 888px;
        height: 355px;
        background-image: linear-gradient(to top, $main-color 0%, transparent 100%);
    }
}

.rent__name {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 64px;
    color: #FFF;
}

.rent__img {
    width: 100%;
}