.slick-arrow.slick-prev {
    position: absolute;
    top: 20px;
    left: auto;
    right: 60px;
}
.slick-arrow.slick-next {
    position: absolute;
    top: 20px;
    right: 20px;
}
.slick-arrow.slick-prev, .slick-arrow.slick-next {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: $dark;
    transition: 0.2s;
    &:hover {
        background-color: $red;
    }
    &:focus {
        background-color: $red;
    }
    &::after {
        content: "";
        display: block;
        width: 16px;
        height: 11px;
        background: url(../img/icons/arrow_prev.svg) center (center / cover) no-repeat;
    }
    &::before {
        display: none;
    }
    &.slick-disabled {
        opacity: 0.7;
        cursor: default;
        background: $dark;
    }
}
.slick-arrow.slick-next {
    &::after {
        background: url(../img/icons/arrow_next.svg) center (center / cover) no-repeat;
    }
}
