.sucsess {
    position: relative;
    top: 300px;
    left: 700px;
    max-width: 540px;
    height: 270px;
    background-color :rgb(83, 132, 172);
    padding-top: 50px;
}
.sucsess__img {
    display: block;
    margin: 0 auto;
}
.sucsess__title {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}
.sucsess__descr {
    text-align: center;
    font-size: 14px;
    color: $gray;
    margin-top: 10px;
}
