.today__title {
    font-size: 64px;
}
.today__descr {
    font-size: 16px;
    color: $gray;
    margin-top: 20px;
}
.today__item {
    margin-top: 100px;
}
.today__icon {
    display: block;
    width: 64px;
    height: 64px;
    background: #C9002C;
}
.today__icon-1 {
    background: url(../img/icons/today_1.svg) center (center / cover) no-repeat;
}
.today__icon-2 {
    background: url(../img/icons/today_2.svg) center (center / cover) no-repeat;
}
.today__icon-3 {
    background: url(../img/icons/today_3.svg) center (center / cover) no-repeat;
}
.today__icon-4 {
    background: url(../img/icons/today_4.svg) center (center / cover) no-repeat;
}
.today__since {
    font-size: 32px;
    margin-top: 20px;
    span {
        font-size: 16px;
    }
}
.today__progress {
    font-size: 16px;
    color: $gray;
    margin-top: 20px;
}
@media(max-width: 767px) {
    .today__title {
        font-size: 42px;
    }
    .today__item {
        margin-top: 30px;
        text-align: center;
    }
    .today__icon {
        margin: 0 auto;
    }
}
@media(max-width: 575px) {
    .today__title {
        font-size: 28px;
        text-align: center;
    }
    .today__descr {
        font-size: 13px;
        text-align: center;
    }
    .today__progress {
        font-size: 13px;
    }
}